/.git
/node_modules
.DS_Store
yarn.lock
package-lock.json
yarn-error.log
.scannerwork
.vscode
.idea
.github
pnpm-lock.yaml
bundle*.zip
/src
.babelrc
package.json
tsconfig.json
webpack.config.js
deploy/nginx.htaccess
deploy/.htaccess
